{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/events-index.css">
<link rel="stylesheet" href="../css/events-list.css">
<script src="../js/site.js"></script>
{{/partial}}

{{#partial "navbar"}}
events
{{/partial}}

{{#partial "content"}}

<div class="header-container">
	<div class="title-container">		
		<div class="subtitle">Events</div>
	</div>	
</div>	
	
<div class="subsection-title-container" data-toggle="collapse" href="#tweets-container">
	<div class="main-content-container">
		<img class="twitter-logo twitter-image" src="../images/twitter-logo.png"/>
		<div class="subsubtitle">Twitter Feed</div>
	</div>
</div>
<div class="main-content-container">
	<div class="twitter-container"> 	  
	     
	   <div id="tweets-container" class="tweets-container collapse in">
		   {{#each tweets}}  
		   	  <div class="tweet-container">
			      <div class="tweet-content">{{text}}</div>
			      <div class="tweet-datetime">{{createdAt}}</div>
		      </div>       
		   {{/each}}
	   </div>   
	
	</div>
</div>

{{> events/_events_view}}

{{> maps/_clustermap}}      

<div class="row">
	  <div class = "col-md-3 filters-container">
	    <h3>Add a new event</h3>
	    <a class="btn btn-primary" role="button" onclick="location.href='/events/new'">Add event</a>
	  </div>
	</div>


{{/partial}}

{{> layouts/base title="EventLite events"}}