{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/forms.css">
{{/partial}}

{{#partial "content"}}
<div class="header-container">
	<div class="title-container">		
		<div class="subtitle">New Event</div>
	</div>	
</div>	

<div class="main-content-container">
	
	<form method="post" action="/events/new">
		<div class="form-group {{#if errors.template}}has-error{{/if}}">
			<label for="name">Name</label>
			<input class="form-control" type="text" name="name" id="name" placeholder="Name" autofocus />
			
			<label for="date">Date</label>	<input class="form-control" type="date" name="date" id="date" placeholder="yyyy-MM-dd" />
			<label>Time</label> <input class="form-control" type="time" name="time" id="time" value="HH:mm" /> 
			
			<label for="venue">Venue</label>
			<select type="venue" name="venue" id="venue" class="form-control">
			  {{#venues}}
			    <option value={{id}}>{{name}}</option>
			  {{/venues}}
			</select>
			
			<label for="description">Description</label>
			<textarea class="form-control" type="text" name="description" id="description" placeholder="Description"></textarea>
			{{#if errors.template}}
			  <p class="text-danger">{{errors.template}}</p>
			{{/if}}
		</div>
	
	  <button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>


{{/partial}}

{{> layouts/base title="EventLite New Event"}}
