{{#if alert}}
<link rel="stylesheet" href="../css/dialog.css">
<div class="modal fade" id="alertDialog" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Attention!</h4>
      </div>
      <div class="modal-body">
        <p>{{alert}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
  
<script>
  $('#alertDialog').modal('show');
</script>
{{/if}}