
<div class="main-content-container">
	<div id="map" ></div>
</div>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<script>

var locations = [
  {{#events}}
	   {{#unless pastEvent}}
	   	 { lat: {{venue.latitude}}, lng: {{venue.longitude}} }{{#unless @last}},{{/unless}}
	   {{/unless}}
  {{/events}}
];

var labels = [
	{{#events}}
		{{#unless pastEvent}}
			"{{name}}"{{#unless @last}},{{/unless}}
		{{/unless}}
	{{/events}}
];


function initMap() {
	

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: { lat: 53.479411, lng: -2.244006},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var markers = locations.map(function(location, i) {
    return new google.maps.Marker({
      position: location,
      label: labels[i]
    });
  });

  var markerCluster = new MarkerClusterer(map, markers,
      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  map.setCenter(new google.maps.LatLng(53.479411, -2.244006))
}


</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzpcBWB8H5T1aQokcF1TQ4ebniKd7JeR8&callback=initMap">
</script>