
<div class="main-content-container">
	<div id="map" ></div>
</div>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<script>

var locations = [
  {{#events}}
	   {{#unless pastEvent}}
	   	 { lat: {{venue.latitude}}, lng: {{venue.longitude}} }{{#unless @last}},{{/unless}}
	   {{/unless}}
  {{/events}}
];

var labels = [
	{{#events}}
		"{{name}}"{{#unless @last}},{{/unless}}
	{{/events}}
];

function initMap() {
  var initialCoords = {
  	 lat: 53.478615,
  	 lng: -2.240235
  };
    
  var map = new google.maps.Map(document.getElementById('map'), {
    center: initialCoords,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var bounds = new google.maps.LatLngBounds();
  var markers = locations.map(function(location, i) {
	if (location.lat == 0 && location.lng == 0)
		return;
	
    bounds.extend(location);
    return new google.maps.Marker({
      position: location,
      label: labels[i]
    });
  });
  
  
  // Extend around manchester city center
  bounds.extend({lat: 53.4882892, lng: -2.244002 });
  bounds.extend({lat: 53.4721997, lng: -2.2426287 });
  bounds.extend({lat: 53.4811263, lng: -2.2339169});
  bounds.extend({lat: 53.4771382, lng: -2.2271656 });
  map.fitBounds(bounds);

  var markerCluster = new MarkerClusterer(map, markers,
      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  map.setCenter(initialCoords);
}


</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzpcBWB8H5T1aQokcF1TQ4ebniKd7JeR8&callback=initMap">
</script>