<div id="map" ></div>

<script>
function initMap() {
  var initialCoords = {
  	 lat: 53.478615,
  	 lng: -2.240235
  };
  
  var mapOptions = {
    zoom: 14,
    center: initialCoords,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
            
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);

  var marker = new google.maps.Marker({
    position: { lat: {{venue.latitude}}, lng: {{venue.longitude}} },
    map: map,
    title: '{{venue.name}}' 
  });
  
  }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzpcBWB8H5T1aQokcF1TQ4ebniKd7JeR8&callback=initMap">
 </script>