<div class="main-content-container">
   <div class="buttons-group btn-group" data-toggle="buttons">
  	   <label class="btn btn-primary active" data-value="listview">
     	  <input class="view-toggle" type="radio" name="options"  id="option1" autocomplete="off" checked> List
	   </label>
  	   <label class="btn btn-primary" data-value="mapview" >
     	  <input class="view-toggle" type="radio" name="options" id="option2" autocomplete="off"> Map
	   </label>
   </div>
</div>