<div class="venue-container">			    
    <span class="link name" onclick="window.document.location='/venues/{{id}}';">
    	<a class="icon fa fa-map-marker"></a>{{name}}
    </span>
    <span>{{address}}</span>
    <span>{{postcode}}</span>
</div>
<hr>