
{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/events-list.css">
{{/partial}}

{{#partial "navbar"}}
venues
{{/partial}}

{{#partial "content"}}

<div class="header-container">
	<div class="title-container">		
		<div class="subtitle">Venues</div>
	</div>	
</div>	

{{> venues/_venues_view}}

{{/partial}}

{{> layouts/base title="EventLite venues"}}