{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/users.css">
{{/partial}}

{{#partial "navbar"}}
login
{{/partial}}

{{#partial "content"}}

<div class="header-container">
	<div class="title-container">		
		<div class="subtitle">Login</div>
	</div>	
</div>	

<div class="main-content-container">
	<form role="form" action="/users/login" method="post">
	    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
	     <div class="form-group">
	        <label for="username">Username</label>
	        <input class="form-control" type="text" name="username" id="username" required autofocus>
	    
	        <label for="password">Password</label>
	        <input class="form-control" type="password" name="password" id="password" required>
	   
	        <label for="remember-me">Remember me</label>
	        <input type="checkbox" name="remember-me" id="remember-me">
	    </div>
	    <button class="btn btn-primary" type="submit">Sign in</button>
	    
	</form>
</div>


{{/partial}}

{{> layouts/base title="EventLite events"}}

