{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
{{/partial}}

{{#partial "navbar"}}
venues
{{/partial}}

{{#partial "content"}}

<h1>Add a new user</h1>
<div class="row">
  <div class = "col-md-3">
    <form method="post" action="/users/new">
      <div class="form-group {{#if errors.template}}has-error{{/if}}">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Username" required autofocus />
        
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password" required />
        
        <label for="passwordRepeated">Repat password</label>
        <input class="form-control" type="password" name="passwordRepeated" id="passwordRepeated" placeholder="Password" required />
        {{#if errors.template}}
          <p class="text-danger">{{errors.template}}</p>
        {{/if}}
      </div>
  
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>

{{/partial}}

{{> layouts/base title="EventLite events"}}