{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/users.css">
{{/partial}}

{{#partial "navbar"}}
register
{{/partial}}

{{#partial "content"}}

<div class="header-container">
	<div class="title-container">		
		<div class="subtitle">Register</div>
	</div>	
</div>	

<div class="main-content-container">
   <form method="post" action="/users/new">
     <div class="form-group {{#if errors.template}}has-error{{/if}}">
       <label for="username">Username</label>
       <input class="form-control" type="text" name="username" id="username" placeholder="Username" required autofocus />
       
       <label for="password">Password</label>
       <input class="form-control" type="password" name="password" id="password" placeholder="Password" required />
       
       <label for="passwordRepeated">Repat password</label>
       <input class="form-control" type="password" name="passwordRepeated" id="passwordRepeated" placeholder="Password" required />
       {{#if errors.template}}
         <p class="text-danger">{{errors.template}}</p>
       {{/if}}
     </div>
 
     <button class="btn btn-primary" type="submit">Register</button>
   </form>
</div>


{{/partial}}

{{> layouts/base title="EventLite events"}}