{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
{{/partial}}

{{#partial "content"}}

<div class="main-container">
	<h1>We're sorry, something went wrong :(</h1>	
</div>

{{/partial}}

{{> layouts/base title="EventLite events"}}