@import "colour-maps.scss";

#map {
	display: none;	
}

.twitter-image {
    border-radius: 10px;
    width: 40px;	
    height: 40px;
}

.twitter-container {
    padding: 10px;
    margin: 10px 0px;
    
    .tweet-container {
    	padding: 10px;
    	border-radius: 5px;
    	margin: 10px 0px;
    	background-color: #e6e6e6;	
    	
    	.tweet-datetime {
    		text-align: right;
    	}	
    }    
    
}