@import "colour-maps.scss";

.twitter-image {
    border-radius: 10px;
    width: 40px;	
    height: 40px;
}


.main-content-container {
	justify-content: space-between !important;
	.leftSide {
		display: flex;
		align-items: center;
	}
}

.twitter-container {
    padding: 10px;
    margin: 10px 0px;
    
    .tweet-container {
    	padding: 10px;
    	border-radius: 5px;
    	margin: 10px 0px;
    	background-color: #e6e6e6;	
    	
    	.tweet-datetime {
    		text-align: right;
    	}	
    }    
    
}