@import "colour-maps.scss";

.events-container {
	margin-top: 40px;	
	
	button {
		background-color: $darken-1;	
	}
}

.search-header {
	justify-content: space-between;
	
	.search-container {
		display: flex;
		align-items: center;
	}
	
	#search-button {
		display: flex;
		align-items: center;
		margin-left: 10px;		
		color: #ececec;
		
		&:hover {
			color: white;
			cursor: pointer;	
		}
	}	
}

.past-events {
 	color: gray;
 	
 	a {
 		color: $lighten-2;	
 	}
 
 	.missed-notif {
 		color: $error;
 		
 		a {
 			color: $error;	
 		}	
 	}
 
 	button {
 		background-color: $lighten-1;		
 		margin-left: 10px;
 	}
 
 	 &:hover {
	 	.missed-notif{
		 	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
		 	display: inline-block;
		}
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
