@import "colour-maps.scss";

@mixin active {
    a {color: black !important;}
}


.header {

    .navbar {
        background-color: $default-background-col;
        margin-bottom: 0px !important; // Important used to override bootstrap
        a:hover {
            color: $darken-5 !important; // Important used to overidde bootstrap
        }
    }
    
    min-width: 170px;  // HACK: stop divs wrapping when window shrunk
    .glyphicon {
        margin-right: 3px;
    }

    &.home {
        .home-button {
            @include active;
        }        
    }

    &.events {
        .events-button {
            @include active;
        }        
    }
    
    &.userevents {
        .userevents-button {
            @include active;
        }        
    }

    &.register {
        .register-button {
            @include active;
        }        
    }

    &.login {
        .login-button {
            @include active;
        }        
    }
    
    &.venues {
        .venues-button {
            @include active;
        }        
    }
    
}