@import "colour-maps.scss";

@mixin active {
	color: $darken-2;
    background-color: $lighten-2;
}


.header {

	.navbar {
		background-color: $default-background-col;
		a:hover {
			color: $darken-5 !important; // Important used to overidde bootstrap
		}
	}
	
	min-width: 170px;  // HACK: stop divs wrapping when window shrunk
	.glyphicon {
		margin-right: 3px;
	}

	&.home {
		.home-button {
			@include active;
		}		
	}

	&.events {
		.events-button {
			@include active;
		}		
	}

	&.register {
		.register-button {
			@include active;
		}		
	}

	&.login {
		.login-button {
			@include active;
		}		
	}
	
}