@import "colour-maps.scss";

$hover-col: $darken-5;
@mixin active {
    a {color: $hover-col !important;}
}


.header {

    .navbar {    
        background-color: white;
        margin-bottom: 0px !important; // Important used to override bootstrap
        
        a {        	
	        color: $theme-colour !important;
	        &:hover {
	            color: $hover-col !important; // Important used to overidde bootstrap
	        }
        }
    }
    
    min-width: 170px;  // HACK: stop divs wrapping when window shrunk
    .glyphicon {
        margin-right: 3px;
    }

    &.home {
        .home-button {
            @include active;
        }        
    }

    &.events {
        .events-button {
            @include active;
        }        
    }
    
    &.userevents {
        .userevents-button {
            @include active;
        }        
    }

    &.register {
        .register-button {
            @include active;
        }        
    }

    &.login {
        .login-button {
            @include active;
        }        
    }
    
    &.venues {
        .venues-button {
            @include active;
        }        
    }
    
}