@import "colour-maps.scss";

.header-container {	
	height: 100vh;	
    background-image: url("../images/party.png");
}

.main-content-container {
	color: #444444;
	h2 {
		font-size: 45px;	
		margin: 55px 0px;
	}

	.event-container {			
		height: 130px;	
		
		.right-side {
			width: 45vw;	
			display: flex;
	    	justify-content: flex-end;	
		}	
		
	}

	.venue-container {
		display: flex;	
		flex-direction: column;
		height: 120px;
	}

}



