@import "colour-maps.scss";

body {
	display: flex;
	flex-direction: column;	
}

hr {
	margin-top: 0px;	
	border-color: rgba($lighten-1, 0.25);
	width: 100%;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;	
}

a {
	color: $darken-1;	
}

.list-container {
	a {
		width: 25px;
	}
	.link {
		&:hover {
			cursor: pointer;
			color: black;	
		}
	}
	.name {
		font-size: 30px;
		margin-top: 5px;
		margin-bottom: 9px;
	}
}


@media (max-width: $screen-md-min) {	
	.main-content-container {
		width: 90vw;
	    align-self: center;	
	}	
	.header-container {
		.title {
			font-size: 50px;
		}
	}	
}

@media (min-width: $screen-md-min) {
	.main-content-container {
		width: 65vw;
	    align-self: center;	
	}
	.header-container {
		.title {
			font-size: 120px;
		}
	}
}

.event-container {
	display: flex;	
	flex-direction: row;
	
	justify-content: space-between;	
	margin-bottom: 15px;
	
	span {
		margin-bottom: 2px;	
	}

	.left-side {
		display: flex;
		flex-direction: column;
	}
}	
hr:last-child {
	display: none;		
}		



.header-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
		
	@media (min-width: 2572px) {
		background-repeat: round;	
	}
	.title-container {
	    background-color: $default-background-col;
		display: flex;
		flex-direction: column;
   		align-items: center;
    	justify-content: center;
		width: 100vw;		
		color: white;	
		
	}
}

.subtitle {
	font-size: 30px;
	padding: 10px;
}

/*
.filters-container {
	background-color: $lighten-1;
	padding-bottom: 20px;
	padding-top: 1px;
	border-radius: 10px;
	
	margin-bottom: 5px;
}

.container { 
    @media (min-width: 1200px) { 
        margin-left: 2%; 
        margin-right: 2%; 
        width: 96%; 
    }
}

.main-container {
	margin: 25px;
	margin-top: 10px;
	
	.filler {
		width: 2px; // HACK: Overriding bootstrap to give 'margin' between columns
	}

	h1 {
		// HACK: Though the header and the panel are actually lined up, the curved border makes it look wrong
		// This fixes that
		margin-left: 4px;	
	}
}*/