@import "colour-maps.scss";

%column-flex {
    display:flex;
    flex-direction:column;
}

@mixin main-default-style {
    margin-bottom: 3vh;
    background-color: $default-background-col;	
}

// Override bootstrap's padding
.no-pad {
	padding-left: 0px !important;
}

.row {
	margin-top: 20px;
	.panel {
		border-color: $default-border-col;
	}	
}



.tweet-container {
   margin-top: 20px;
   @include main-default-style;
   .status-bar {
	  padding: 5px;
	  margin-bottom: 10px;
	  display: none;
	}

	.success {
		 .status-bar {      	 	
		  	 display: block;
		  	 background-color: $success-background;
	  	 }
	}
     
  .error {
  	 .status-bar { 
      	 display: block;
      	 background-color: $error-background;
      }
  	 textarea {
  	 	border-bottom-style: solid;
  	 	border-bottom-color: $error;	
  	 }
     
  }	
   
}


